:root {
  color-scheme: light dark;
  font-family: system-ui, sans-serif;
}

body {
  font-size: 100%;
}

.mono {
  font-family: monospace;
}

.btn-add {
  cursor: pointer;
  background: none;
  border: none;
  color: LinkText;
  margin-top: 4px;
}

.btn-add:hover {
  color: color-mix(in oklch, LinkText, Canvas 30%);
}